
html, body {
  height: 100%;
}

#map {
  height: 100%;
  position: relative;
}

.content{
  position: absolute;
   right: 0;
   bottom: 0;
}

.authorization{
  position: absolute;
  top:0;
  right:0;
}


.green, .glyphicon-ok:hover {
  color: green;
}

.message{
  border-radius: 10px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  margin-bottom:15px;
}

.messageButton{
  width:65px;
}


@media (max-width: 700px) {
  form{
    width:100%;
    margin: 0px;
  }

  form input{
      width: 80% !important;
      float: left;
  }

  .message{
    margin-right: 0px;
  }

  .container{
    width:100%;
  }
}

@media (min-width: 800px) {
  #message{
    width:600px;
  }

  .message{
    margin-right: 40px;
  }
}

#bubble{
  text-align: center;
}
